.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* TODO: Remove this? */

#root {
  background: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.table {
  margin: 0 auto;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.table th {
  text-align: left;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

.spinner-grow {
  width: 3rem;
  height: 3rem;
}

/* #1000000 {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

#1000001 {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#1000002 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

#1000003 {
  background-color: #0d6efd;
  border-radius: 15px;
  padding: 10px;
  color: #000000;
  max-width: 80%;
}

#1000004 {
  display: flex;
  align-items: center;
}

#1000005 {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  padding: 5px 10px;
}

#1000006 {
  border-radius: 20px;
} */
