body {
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}

.navbar {
  background-color: #cee3f8;
}

.navbar-brand {
  color: #000;
  font-size: 2rem;
}

.nav-link {
  color: #000;
  font-size: 1.2rem;
}

.nav-link.active {
  font-weight: bold;
}

@media (max-width: 575px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}
